<template>
  <b-container fluid>
    <b-row>
      <b-col>
        <b-navbar toggleable="lg" fixed="top" type="dark" variant="primary">
          <b-navbar-brand to="/" class="logo">
            <b-img src="logos/oddwave.png" fluid alt="the odd wave" class="logo" />
            {{ title }}
            <!-- <img :src="require('~/assets/logos/oddwave.png?size=400')" :srcset="require('~/assets/logos/oddwave.png').srcSet"> -->
            <!-- <Logo /> {{ title }} -->
          </b-navbar-brand>
          <b-navbar-toggle target="nav-collapse" />
          <b-collapse id="nav-collapse" is-nav>
            <b-navbar-nav>
              <b-nav-item to="/">Home</b-nav-item>
              <b-nav-item-dropdown text="Users">
              <b-dropdown-item
                v-for="user in users"
                :key="user.id"
                :to="'/users/'+user.id"
              >{{ user.name }}</b-dropdown-item>
            </b-nav-item-dropdown>
            </b-navbar-nav>
            
          </b-collapse>
        </b-navbar>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
export default {
  data() {
    return {
      title: "THE ODD WAVE",
      standardNav: [
        { value: "/", text: "Home" },
        { value: "/contact", text: "Contact us" }
      ]
    };
  },
  props: {
    users: {
      type: Array,
      default() {
        return [{ id: 1, name: "Stefano" }];
      }
    }
  }
};
</script>
<style scoped>
.logo {
  height: 3.5vw;
  width: auto;
  font-weight: bold;
}
.navbar {
  min-height: 80px;
  /* height:80px; */
}
</style>
